@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model SieuNhanGao.Service.ViewModels.BusinessRoleViewModel
@{
    if (Model == null)
    {
        <div class="card shadow mb-4">
            <div class="container-fluid">
                <div class="card-header py-3">
                    <div class="card-header py-3">
                        <p class="m-0 font-weight-bold text-primary">
                            <h3>Không có dữ liệu con ơi</h3>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container-fluid">
            <h1>Edit</h1>
            <h4>BusinessRole</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="BusinessRoleName" class="control-label"></label>
                            <input asp-for="BusinessRoleName" class="form-control" />
                            <span asp-validation-for="BusinessRoleName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    }
}