
@{
    ViewData["Title"] = "NotificationAuthorize";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="btn btn-danger">
    <h3>Bạn chưa được cấp quyền, hãy liên hệ admin</h3>
</div>

