@model IEnumerable<SieuNhanGao.Service.ViewModels.CategoryViewModel>

@{
    foreach (var item in Model)
    {

        var childItems = Model.Where(p => p.ParentId == item.Id).ToList();
        if (childItems.Count() > 0 && item.IsParent == true)
        {

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    @item.CategoryName
                </a>

                <div class="dropdown-menu">
                    @{
                        foreach (var subItem in childItems)
                        {
                            <a class="dropdown-item" href="/@subItem.CategoryName">@subItem.CategoryName</a>
                        }
                    }
                </div>
            </li>
        }
        else
        {
            if (item.IsParent == true)
            {
                <li class="nav-item">
                    <a href="@item.CategoryName" class="nav-link">@item.CategoryName</a>
                </li>
            }

        }
    }
}